@page "/movies/edit"
@using Microsoft.EntityFrameworkCore
@using Zadanie3
@using Microsoft.Extensions.ML
@inject IDbContextFactory<Zadanie3.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Movies</h2>
<hr />
@if (Movies is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Movies" OnValidSubmit="UpdateMovies" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Movies.Id" value="@Movies.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Movies.Title" class="form-control" />
                    <ValidationMessage For="() => Movies.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Movies.Description" class="form-control" />
                    <ValidationMessage For="() => Movies.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="relasedate" class="form-label">RelaseDate:</label>
                    <InputDate id="relasedate" @bind-Value="Movies.RelaseDate" class="form-control" />
                    <ValidationMessage For="() => Movies.RelaseDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rate_avg" class="form-label">Rate_avg:</label>
                    <InputNumber id="rate_avg" @bind-Value="Movies.Rate_avg" class="form-control" />
                    <ValidationMessage For="() => Movies.Rate_avg" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rate_count" class="form-label">rate_count:</label>
                    <InputNumber id="rate_count" @bind-Value="Movies.rate_count" class="form-control" />
                    <ValidationMessage For="() => Movies.rate_count" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="image_url" class="form-label">image_url:</label>
                    <InputText id="image_url" @bind-Value="Movies.image_url" class="form-control" />
                    <ValidationMessage For="() => Movies.image_url" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/movies">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Movies? Movies { get; set; }

    private Genre.ModelOutput? prediction;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Movies ??= await context.Movies.FirstOrDefaultAsync(m => m.Id == Id);

        if (Movies is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMovies()
    {
        var input = new Genre.ModelInput { Description = Movies.Description };
        prediction = Genre.Predict(input);
        Movies.genre = prediction.PredictedLabel;
        using var context = DbFactory.CreateDbContext();
        context.Attach(Movies!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MoviesExists(Movies!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/movies");
    }

    private bool MoviesExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Movies.Any(e => e.Id == id);
    }
}
